<section class="px-16 xl:px-32 flex flex-col gap-8">

  @defer (on viewport) {
  @if(association()?.page_content) {
    <div class="grid md:grid-cols-2 gap-16 py-16 xl:py-32 max-w-4xl mx-auto">
      @for (col of association()?.page_content; track $index) {
        <div class="flex flex-col h-full gap-8">
          <div>
            <p class="text-3xl font-medium">
              Vous souhaitez être Sponsors ? Ou Partenaires ?
            </p>
            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, officiis, voluptatum! Aliquam architecto cupiditate debitis deleniti dolores fuga iure nostrum quis tempore voluptate? Ad commodi cupiditate quo sint tempore vel.
            </p>
          </div>
          <img [src]="col.img.url" [alt]="col.img.alt"/>
          <div class="flex md:flex-col gap-4">
            @for (sub of col.subs; track $index) {
              <div>
                <p class="text-xl font-medium">
                  Vous souhaitez être Sponsors ? Ou Partenaires ?
                </p>
                <p class="text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, officiis, voluptatum! Aliquam architecto cupiditate debitis deleniti dolores fuga iure nostrum quis tempore voluptate? Ad commodi cupiditate quo sint tempore vel.
                </p>
              </div>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="h-screen flex justify-center items-center flex-col">
      <h2>
        Aucune données trouvé pour l'association : {{this.association().name}}
      </h2>

      <app-button name="Retour" (click)="helperService.navigateTo('associations')"/>
    </div>
  }



  } @placeholder (minimum 300ms) {
    <p>
      loading...
    </p>
  }


</section>
