@defer (on viewport) {
  <section id="scroll" class="max-w-4xl mx-auto  flex flex-col gap-8 text-center carousel">
    <p class="text-3xl font-medium">Sponsors & Partenaires</p>
    <p-carousel
      class=""
      [value]="sponsors()"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [showIndicators]="false"
      [responsiveOptions]="responsiveOptions()"
    >
      <ng-template let-sponsor pTemplate="item">
        <div class="border-1 surface-border border-round m-2 p-3 flex flex-col">
          <div class="w-full p-8">
            <img class="w-full h-full" [src]="sponsor.img" [alt]="sponsor.name" />
          </div>
        </div>
      </ng-template>
    </p-carousel>

    <app-button (click)="helperService.navigateTo('sponsors')" name="Moi aussi je veux te rejoindre !" />
  </section>
} @placeholder (minimum 300ms) {
  <p>
    loading...
  </p>
}



